@import "./constants.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-size: 1.6rem;
}

button {
  font-size: 1.8rem;
}

ul {
  list-style: none;
  padding: 0;
}

html,
body,
input,
button {
  font-family: "Poppins", sans-serif;
}

:root {
  /* colors */
  --white: white;
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --gray-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --darker-violet: hsl(260, 8%, 14%);

  /* colors for opacity */
  --cyanOpacity: 180, 66%, 49%;
  --grayOpacity: 0, 0%, 75%;
  --grayVioletOpacity: 257, 7%, 63%;
  --darkVioletOpacity: 257, 27%, 26%;
}

/* fonts */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--darker-violet);
}

h1.inverted,
h2.inverted,
h3.inverted,
h4.inverted {
  color: var(--white);
}

h1 {
  line-height: 1.2;
  @media (min-width: $desktop-breakpoint) {
    font-size: 5rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 1.8;
  @media (min-width: $desktop-breakpoint) {
    line-height: 1.5;
  }
}

.subtitle {
  color: var(--gray-violet);
}
