@import "view/shared/styles/constants.scss";

.button {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  font-weight: bold;
}

.primary {
  background-color: var(--cyan);
  color: var(--white);
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 2.5rem;

  &:hover {
    background-color: hsla(var(--cyanOpacity), 0.5);
  }

  @media (min-width: $desktop-breakpoint) {
    font-weight: lighter;
  }
}

.secondary {
  background-color: var(--cyan);
  color: var(--white);
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 0.8rem;

  &:hover {
    background-color: hsla(var(--cyanOpacity), 0.5);
  }

  @media (min-width: $desktop-breakpoint) {
    font-weight: lighter;
  }
}

.link {
  color: var(--gray-violet);

  &:hover {
    color: var(--darker-violet);
  }
}
