@import "view/shared/styles/constants.scss";

.footer {
  background-color: var(--darker-violet);
}

.logo {
  filter: invert(1) brightness(1.5);
  flex-basis: 50%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  text-align: center;
  color: var(--white);
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    align-items: flex-start;
    padding: 7rem 3rem;
  }
}

.nav {
  margin-top: 3rem;
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-basis: 65%;
    justify-content: space-between;
    text-align: left;
    margin-top: -7px;
  }
}

.navLinksContainer {
  @media (min-width: $desktop-breakpoint) {
    margin: 0 2rem;
  }
}

.navLinks {
  line-height: 2;
  color: var(--gray);
  margin-bottom: 4rem;
}

.socialLinksContainer {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

.socialLinks {
  display: flex;
  justify-content: space-evenly;
  @media (min-width: $desktop-breakpoint) {
    margin-left: auto;
    margin-top: 0;
    max-width: 20rem;
  }

  & > li {
    cursor: pointer;
  }
}
